.main{
    display:block;
    padding:30px;
    margin-top:30px;
}

.footer{
   
}

.s-vote{

        
}

.dis{
    pointer-events: none;
}

.remove{
    cursor: pointer;
}
.share{
    display:none;
}
.alt{
    background-color: aqua;
    border-radius: 10px;
    display: none;
}
.myPolls{
    display: none;
}