<!DOCTYPE html>
<html>
<head>
    <script src="/jquery.js"></script>
    <link rel="stylesheet" href="/bootstrap.css">
    <script src="/bootstrap.js"></script>
    <link rel="stylesheet" href="/main.css">
    </head>
<body>
    
    
    
    <%if(user != "none"){%>
    <% include okNav %>   
    <%}%>
    <%if(user == "none"){%>
    <% include signInNav %>   
    <%}%>
    
    <div class="container-fluid"><div class="mt-5 text-center"><h4 class="">You don't have permission to remove this poll!</h4></div></div>
    
    
    <% include footer %>
    
    </body>
    <script src="/main.js"></script>
</html>