<!DOCTYPE html>
<html>
<head>
    <script src="jquery.js"></script>
    <link rel="stylesheet" href="bootstrap.css">
    <script src="bootstrap.js"></script>
    <link rel="stylesheet" href="main.css">
    </head>
<body>
    
    <%include signInNav %>
    <div class="noAuth text-center mt-5 b">
    Please sign in first to create a poll.
    
    </div>
    <% include footer %>
    
    </body>
    <script src="main.js"></script>
</html>