<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">VoteNow</a>
    <div>
    <%=user.name %>
        
    <!--<img src='http://graph.facebook.com/ <%=user.id%>/picture?type=square'>-->
        
    </div>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="/myPolls">My Polls</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log out</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/create">Create Vote</a>
      </li>
    </ul>
  </div>
</nav>