<!DOCTYPE html>
<html>
<head>
    <script src="res/jquery.js"></script>
    <link rel="stylesheet" href="res/bootstrap.css">
    <script src="res/bootstrap.js"></script>
    <script src="res/canvas.js"></script>
    </head>
<body>
    
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">VoteNow</a>
      <div class="user">UserName</div>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
   
      <li class="nav-item">
        <a class="nav-link" href="#">Sign in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Placeholder</a>
      </li>
    </ul>
  </div>
</nav>
    
         
    <div class="container-fluid">
        
    <canvas id="myCanvas"></canvas>
    <div id="myLegend"></div>
    
    </div>
    
    
    
    
    
    
    <div class="footer text-center mt-4">Created by Supun Sudaraka</div>
    </body>
</html>